<ion-header *ngIf="selectedCarpool | async as carpool">
    <ion-toolbar>
        <ion-back-button slot="start" class="backBtn" defaultHref="\"></ion-back-button>
        <ion-title class="title">{{carpool.driver}}`s</ion-title>
        <div class="icons" slot="end">
            <ion-icon class="editIcon" name="create" (click)="editCarpool()" ></ion-icon>
            <ion-icon name="trash" (click)="removeCarpool()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image" *ngIf="selectedCarpool | async as carpool">
    <div class="text">
        <div *ngIf="carpool.payment === perDrive">
            Diesen Monat bist du schon {{getRides(carpool.currentMonth)}} mal mit {{carpool.driver}} mitgefahren.
        </div>
        <div *ngIf="carpool.payment === perDay">
            Diesen Monat bist du an {{getRides(carpool.currentMonth)}} Tagen mit {{carpool.driver}} mitgefahren.
        </div>
        <br>
        <div class="price" [attr.cy-data]="'[cy-data=price]'">Aktuell belaufen sich deine Spritkosten auf {{calculate(getRides(carpool.currentMonth), carpool.price)}}€</div>
    </div>
    <div class="buttons">
        <ion-button class="btn" color="dark" [routerLink]="['/carpool', 'archiv', carpool.id]">
            Zeige Fahrten
        </ion-button>
        <ion-button class="btn" color="dark" (click)="startDrive()" [attr.cy-data]="'startRide'">
            Los Fahren!!
        </ion-button>
        <ion-button class="btn" color="dark" (click)="billDrive()" [attr.cy-data]="'billRide'">
           Bezahlen
        </ion-button>
    </div>
</ion-content>
