$buttonHeight: 60px;
$buttonWidth: 140px;
$fontSizeBtn: 15px;

:host {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.title{
  text-align: center;
}

.buttons {
  text-align: center;
}

.backBtn {
  --icon-margin-end: 0px;
  --icon-margin-start: -5px;
}

.btn {
  margin: 5px;
  height: $buttonHeight;
  width: $buttonWidth;
  font-size: $fontSizeBtn;
  background-color: black;
}

.icons {
  padding-right: 10px;
  font-size: 25px;
}

.editIcon {
  padding-right: 5px;
}

.text {
  margin: 10px;
  font-size: 275%;
  text-align: center;
  color:white;
}

.background-image{
  --background: url(../../assets/imgs/road.webp) 0 0/100% 100% no-repeat;
}
