<ion-header *ngIf="selectedCarpool">
    <ion-toolbar>
        <ion-back-button slot="start" class="backBtn" defaultHref="mitfahrzentrale"></ion-back-button>
        <ion-title class="title">{{selectedCarpool.driver}}`s</ion-title>
        <div class="icons" slot="end">
            <ion-icon class="editIcon" name="create" (click)="editCarpool()"></ion-icon>
            <ion-icon name="trash" (click)="removeCarpool()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image" *ngIf="selectedCarpool">
    <div class="text">
        <div *ngIf="getRides(selectedCarpool.currentMonth) > 0">
            <div *ngIf="selectedCarpool.payment === perDrive">
                Diesen Monat bist du schon {{getRides(selectedCarpool.currentMonth)}} mal mit {{selectedCarpool.driver}}
                mitgefahren.
            </div>
            <div *ngIf="selectedCarpool.payment === perDay">
                Diesen Monat bist du an {{getRides(selectedCarpool.currentMonth)}} Tagen mit {{selectedCarpool.driver}}
                mitgefahren.
            </div>
            <br>
            <div class="price" [attr.cy-data]="'[cy-data=price]'">Aktuell belaufen sich deine Spritkosten
                auf {{calculate(getRides(selectedCarpool.currentMonth), selectedCarpool.price)}}€
            </div>
        </div>
        <div *ngIf="getRides(selectedCarpool.currentMonth) == 0">
            Diesen Monat bist du noch kein Mal mit {{selectedCarpool.driver}} mitgefahren.
        </div>
    </div>
    <div class="buttons">
        <ion-button class="btn" color="dark" [routerLink]="['/carpool', 'archiv', selectedCarpool.id]">
            Zeige Fahrten
        </ion-button>
        <ion-button class="btn" color="dark" (click)="startDrive()" [attr.cy-data]="'startRide'">
            Los Fahren!!
        </ion-button>
        <ion-button class="btn" color="dark" (click)="billDrive()" [attr.cy-data]="'billRide'">
            Bezahlen
        </ion-button>
    </div>
</ion-content>
