<!-- Refactor -->
<ion-header class="header">
    <h1>Neue Mitfahrgelegenheit</h1>
</ion-header>
<ion-content class="content" [attr.cy-data]="'AddCarpoolDlg'">
    <ion-list no-lines>
        <ion-item>
            <ion-label>Fahrer
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required text-right class="carpoolDrive" type="text" [(ngModel)]="carpoolDriver"></ion-input>
        </ion-item>

        <ion-item (click)="openPicker()">
            <ion-label>Zahlart
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-label slot="end" class="zahlart">{{zahlartView}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Preis in €
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" text-right [(ngModel)]="price" [attr.cy-data]="'charge'"></ion-input>
        </ion-item>
    </ion-list>

    <div class="buttons">
        <ion-button (click)="save()" [attr.cy-data]="'saveBtn'">Speichern</ion-button>
        <ion-button (click)="exit()" [attr.cy-data]="'exitBtn'">Abbrechen</ion-button>
    </div>
</ion-content>
