<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="\"></ion-back-button>
        <ion-title>Archiv</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="selectedCarpool| async as carpool">
        <ion-list no-lines *ngFor="let ride of carpool.currentMonth">
            <ion-card *ngIf="carpool.payment === proFahrt">
                <ion-card-header>
                    Fahrt vom {{ride.day}} um {{ride.time}}
                </ion-card-header>
            </ion-card>
            <ion-card *ngIf="carpool.payment === proTag">
                <ion-card-header>
                    Fahrt vom {{ride.day}}
                </ion-card-header>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
