<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" [attr.cy-data]="'homeBtn'">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Deine Mitfahrzentrale
        </ion-title>
        <ion-icon class="addDrive" name="person-add" slot="end" (click)="AddCarpool()" [attr.cy-data]='"addCarpool"'></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="carpools$ | async as carpools">
        <div *ngFor="let carpool of carpools; let i = index">
            <ion-card [routerLink]="['/', 'carpool', carpoolId(carpools, i)]">
                <ion-card-header [ngClass]="getListItemColor(i)" [attr.cy-data]='"carpool"+i'>
                    {{carpool.driver}}
                </ion-card-header>
            </ion-card>
        </div>
    </div>
</ion-content>
