<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
        <ion-icon class="addDrive" name="person-add" slot="end" (click)="AddCarpool()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="carpools$ | async as carpools">
<div *ngFor="let carpool of carpools">
    <ion-card>
        <ion-card-header>
            {{carpool.driver}}
        </ion-card-header>
    </ion-card>
</div>
</ion-content>
